/*Обнуление*/
* {
   padding: 0;
   margin: 0;
   border: 0;
}

*,
*:before,
*:after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

:focus,
:active {
   outline: none;
}

a:focus,
a:active {
   outline: none;
}

a nav,
footer,
header,
aside {
   display: block;
}

html,
body {
   height: 100%;
   width: 100%;
   font-size: 100%;
   line-height: 1;
   font-size: 1em;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
   font-family: inherit;
}

input::-ms-clear {
   display: none;
}

button {
   cursor: pointer;
}

button::-moz-focus-inner {
   padding: 0;
   border: 0;
}

a,
a:visited {
   text-decoration: none;
}

a:hover {
   text-decoration: none;
}

ul li {
   list-style: none;
}

img {
   vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-size: inherit;
   font-weight: 400;
}

/*--------------------*/
body {
   background-image: url(./imageProjects/bg3.jpeg);
   background-position: center;
   background-size: cover; 
   background-repeat: no-repeat;
 /*   height: 100%;
   min-height: 100vh; */
}

.title {
   color: white;
   font-family: 'Hanalei', cursive;
   letter-spacing: 12px;
   padding: 50px 0;
   text-align: center;
   text-shadow: 4px 4px 2px rgb(0, 0, 0);
   font-size: 28px;
}

.container {
   margin: 0 auto;
   max-width: 1100px;
   height: 100vh;
    display: flex;
    align-items: center;
}

.block {
   /* padding: 0 100px 100px; */
   width: 70%;
   background: rgba(211, 211, 211, .5);
   box-shadow: 0 0 15px rgb(255, 255, 255);
   margin: 0 auto;
   /* height: 100vh; */
}

.links {
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
   gap: 20px;
   padding: 0 0 50px;
}

.link {
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   width: 180px;
   height: 50px;
   padding: 10px 0;
   color: white;
   text-shadow: 2px 0 2px rgb(0, 0, 0);
   background: #00C9FF;
   /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, #92FE9D, #00C9FF);
   background: linear-gradient(to right, #92FE9D, #00C9FF);
   border-radius: 20px;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   -ms-border-radius: 20px;
   -o-border-radius: 20px;
   box-shadow: 0 3px 0 rgba(0, 0, 0, 0.7);
   position: relative;
   top: 0;
   outline: none;
   text-transform: uppercase;
  margin: 10px;
}
span {
   text-transform: capitalize;
   color: white;
   padding: 2px 0;
   font-size: 14px;
}

.link:active {
   top: 3px;
   box-shadow: 0 1px 0;
}

.yellow {
   background: #C6FFDD;
   background: -webkit-linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);
   background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);
}

.blue {
   background: #34e89e;
   background: -webkit-linear-gradient(to right, #0f3443, #34e89e);
   background: linear-gradient(to right, #0f3443, #34e89e);

}

.sky {
   background: #2980B9;
   background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);
   background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);
}

.green {

   background: #fffc00;
   background: -webkit-linear-gradient(to right, #ffffff, #fffc00);
   background: linear-gradient(to right, #ffffff, #fffc00);

}

.rose {
   background: #A770EF;
   background: -webkit-linear-gradient(to right, #FDB99B, #CF8BF3, #A770EF);
   background: linear-gradient(to right, #FDB99B, #CF8BF3, #A770EF);

}

.red {
   background: #ff4b1f;
   background: -webkit-linear-gradient(to right, #ff9068, #ff4b1f);
   background: linear-gradient(to right, #ff9068, #ff4b1f);

}

.gray {
   background: #bdc3c7;
   background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);
   background: linear-gradient(to right, #2c3e50, #bdc3c7);

}

.rgb {
   background: #1E9600;
   background: -webkit-linear-gradient(to right, #FF0000, #FFF200, #1E9600);
   background: linear-gradient(to right, #FF0000, #FFF200, #1E9600);
}

.darkred {
   background: #8E0E00;
   background: -webkit-linear-gradient(to right, #1F1C18, #8E0E00);
   background: linear-gradient(to right, #1F1C18, #8E0E00);
}

.ukraine {
   background: #004FF9;
   background: -webkit-linear-gradient(to right, #FFF94C, #004FF9);
   background: linear-gradient(to right, #FFF94C, #004FF9);
}

.vine {
   background: #00bf8f;
   background: -webkit-linear-gradient(to right, #001510, #00bf8f);
   background: linear-gradient(to right, #001510, #00bf8f);

}

.violet {
   background: #4776E6;
   background: -webkit-linear-gradient(to right, #8E54E9, #4776E6);
   background: linear-gradient(to right, #8E54E9, #4776E6);

}

@media screen and (max-width:910px) {
  
   .container{
      height: auto;
   } 
} 

@media screen and (max-width:768px) {
   body{
       background-size: auto auto; 
   }

} 

@media screen and (max-width:425px){
 
  .container{
      height: auto;
   } 
} 
