@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

a, nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

/*--------------------*/
.header__top, .header__bottom, .header__icons, .header__icon-left, .header__icon-center, .header__icon-right, .header__btn, .info__inner, .form__info, .brand__body, .brand__top, .brand__center, .brand__bottom, .video__body, .about__body, .contact__top, .contact__bottom, .footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__suptitle, .header__subtitle, .header__icon-text, .header__btn-left, .header__btn-right, .info__icon, .text, .form__subtitle, .form__btn, .karte .box__title, .karte .box__subtitle, .karte .box__phone, .karte .box__mail {
  text-align: center;
}

.contact__bottom {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__img {
  width: 60px;
  height: 60px;
}

.brand__icon1, .brand__icon2, .brand__icon3, .brand__icon4, .brand__icon5, .brand__icon6, .brand__icon7, .brand__icon8, .brand__icon9, .brand__icon10, .brand__icon11, .brand__icon12, .brand__icon13 {
  width: 140px;
  height: 80px;
}

.header__img--left, .header__img--center, .header__img--right {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

body {
  color: #fff;
}

.container {
  max-width: 1260px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  background-image: url(../image/BG.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header__top {
  padding-top: 10px;
  padding-bottom: 50px;
  margin-bottom: 110px;
}

.header__contact {
  margin-left: auto;
  text-align: center;
}

.header__phone {
  color: #fff;
  font-family: "Lato";
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 5px;
}

.header__logo {
  font-family: "Lato";
  font-size: 30px;
  font-weight: 400;
  color: #5a5a5a;
  padding-top: 10px;
}

.header__link {
  color: #d91233;
  text-decoration: underline;
  cursor: pointer;
  font-family: "Lato";
  font-size: 16px;
  font-weight: 400;
}

.header__bottom {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 90px;
}

.header__title {
  margin-bottom: 100px;
}

.header__suptitle {
  font-family: "Lato";
  font-size: 48px;
  font-weight: 600;
  text-transform: uppercase;
}

.header__subtitle {
  font-family: "Lato";
  font-size: 30px;
  font-weight: 400;
}

.header__icons {
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 100px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header__icon-left, .header__icon-center, .header__icon-right {
  width: 30%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 500px) {
  .header__icon-left, .header__icon-center, .header__icon-right {
    width: 100%;
    margin-bottom: 40px;
  }
  .header__top {
    display: flex;
    flex-direction: column;
    text-align: center;
     margin: 0;
    padding-bottom: 80px;
}
  .header__logo {
 padding-bottom: 10px;
}
  .header__contact {
  margin: 0;
}
  .header__suptitle {
  font-size: 35px;
  margin-bottom: 15px;
}
  .header__subtitle {
  font-size: 25px;
}
  .header__title {
  margin-bottom: 50px;
}
}


.header__img {
  margin-bottom: 35px;
}

.header__img--left {
  background-image: url(../image/header-auto.png);
}

.header__img--center {
  background-image: url(../image/header-icons2.png);
}

.header__img--right {
  background-image: url(../image/hd-icons3.png);
}

.header__icon-text {
  font-family: "Lato";
  font-size: 18px;
  font-weight: 400;
  width: 147px;
}

.header__btn {
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header__btn-left, .header__btn-right {
  width: 50%;
}

@media screen and (max-width: 500px) {
  .header__btn-left, .header__btn-right {
    width: 100%;
    margin-bottom: 50px;
  }
}

.header__btn-text {
  font-family: "Lato";
  font-size: 14px;
  font-weight: 400;
  width: 140px;
  margin: 0 auto;
}

.header .btn {
  display: inline-block;
  font-family: "Lato";
  font-size: 18px;
  font-weight: 700;
  width: 230px;
  padding: 20px;
  background-color: #d91233;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  margin-bottom: 20px;
  cursor: pointer;
}

.header .btn-right {
  background-color: transparent;
  border: 1px solid #d91233;
}

.info__inner {
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.info__body {
  padding: 80px 0;
}

.info__img {
  margin-bottom: 35px;
}

.info__icon {
  width: 33.33333%;
  color: #000;
  padding: 2% 7%;
}

@media screen and (max-width: 768px) {
  .info__icon {
    width: 100%;
    margin-bottom: 30px;
  }
}

.info__title {
  font-family: "Lato";
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 22px;
}

.info__subtitle {
  font-family: "Lato";
  font-size: 14px;
  font-weight: 400;
}

.info__icon--top {
  margin-bottom: 80px;
}

@media screen and (max-width: 768px) {
  .info__icon--top {
    margin-bottom: 30px;
  }
}

.info__inner-bottom {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.text {
  color: #000;
  margin-bottom: 30px;
  font-family: "Lato";
  font-size: 30px;
  font-weight: 700;
}

.form {
  background-color: #efefef;
  padding: 80px 0;
}

.form__subtitle {
  font-family: "Lato";
  font-size: 16px;
  font-weight: 400;
  color: #000;
  margin-bottom: 60px;
}

.form__info {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 74.60317%;
  margin: 0 auto;
  outline: 3px solid #fff;
  padding: 50px 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form__left {
  width: 33.33333%;
}

@media screen and (max-width: 768px) {
  .form__left {
    width: 100%;
  }
}

.form__center {
  width: 33.33333%;
}

@media screen and (max-width: 768px) {
  .form__center {
    width: 100%;
  }
}

.form__text {
  font-family: "Lato";
  font-size: 13px;
  font-weight: 400;
  color: #000;
  margin: 25px 5px 10px;
}

.form__right {
  width: 33.33333%;
}

@media screen and (max-width: 768px) {
  .form__right {
    width: 100%;
  }
}

.form__center {
  padding: 0 20px;
}

.form__input {
  width: 100%;
  height: 40px;
  padding-left: 5%;
}

@media screen and (max-width: 768px) {
  .form__input {
    margin-bottom: 50px;
  }
}

.form__area {
  width: 100%;
  padding: 15px;
  height: 47%;
  outline: none;
  border: none;
}

.form__btn {
  width: 80%;
  background-color: #d91233;
  color: #fff;
  margin-top: 30px;
  margin-left: 10%;
  padding: 15px;
  font-family: "Lato";
  font-size: 18px;
  font-weight: 700;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
}

.brand__body {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 80px 0;
}

.brand__title {
  margin-bottom: 60px;
}

.brand__top, .brand__center, .brand__bottom {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.brand__icon1 {
  background-image: url(../image/audi.png);
}

.brand__icon1:hover {
  background-image: url(../image/audi-hover.png);
}

.brand__icon2 {
  background-image: url(../image/Mercedes.png);
}

.brand__icon2:hover {
  background-image: url(../image/Mercedes-hover.png);
}

.brand__icon3 {
  background-image: url(../image/bmw.png);
}

.brand__icon3:hover {
  background-image: url(../image/bmw-hover.png);
}

.brand__icon4 {
  background-image: url(../image/Volkswagen.png);
}

.brand__icon4:hover {
  background-image: url(../image/Volkswagen-hover.png);
}

.brand__icon5 {
  background-image: url(../image/jaguar.png);
}

.brand__icon5:hover {
  background-image: url(../image/jaguar-hover.png);
}

.brand__icon6 {
  background-image: url(../image/Volvo.png);
}

.brand__icon6:hover {
  background-image: url(../image/Volvo_hover.png);
}

.brand__icon7 {
  background-image: url(../image/mini_logo.png);
}

.brand__icon7:hover {
  background-image: url(../image/mini_hover.png);
}

.brand__icon8 {
  background-image: url(../image/land-rover.png);
}

.brand__icon8:hover {
  background-image: url(../image/landrover-hover.png);
}

.brand__icon9 {
  background-image: url(../image/honda.png);
}

.brand__icon9:hover {
  background-image: url(../image/honda-hover.png);
}

.brand__icon10 {
  background-image: url(../image/jeep.png);
}

.brand__icon10:hover {
  background-image: url(../image/jeephover.png);
}

.brand__icon11 {
  background-image: url(../image/bentley.png);
}

.brand__icon11:hover {
  background-image: url(../image/bentley-hover.png);
}

.brand__icon12 {
  background-image: url(../image/Porsche_logo.png);
}

.brand__icon12:hover {
  background-image: url(../image/Porsche_hover.png);
}

.brand__icon13 {
  background-image: url(../image/Mazda_Logo.png);
}

.brand__icon13:hover {
  background-image: url(../image/Mazda_hover.png);
}

.video {
  padding-bottom: 80px;
}

.video__body {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.video__box {
  border: 4px solid #f2f2f2;
  padding: 15px;
}

.video__title {
  margin-bottom: 60px;
}

@media screen and (max-width: 768px) {
  .video iframe {
    width: 500px;
  }
}

@media screen and (max-width: 520px) {
  .video iframe {
    width: 320px;
  }
}

.about {
  background-color: #efefef;
}

.about__title {
  padding-top: 80px;
  margin-bottom: 50px;
}

.about__body {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
}

.about__info {
  width: 50%;
}

.about__text {
  padding-left: 90px;
  position: relative;
  margin-bottom: 30px;
}

.about__text ::before {
  content: '';
  position: absolute;
  left: -10px;
  top: 15px;
  background-image: url(../image/about-img.png);
  width: 90px;
  height: 90px;
}

.about__name {
  color: #757575;
  font-family: "Lato";
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 15px;
}

.about__suptitle {
  color: #d91233;
  font-family: "Lato";
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 20px;
}

.about__subtitle {
  color: #2b2b2b;
  font-family: "Lato";
  font-size: 13px;
  font-weight: 700;
  width: 75%;
}

@media screen and (max-width: 768px) {
  .about__info {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .about__text {
    padding-left: 130px;
  }
  .about__text ::before {
    left: 15px;
  }
}

.contact {
  background-color: #dbdbdb;
}

.contact__text {
  padding-top: 70px;
  padding-bottom: 25px;
}

.contact__inner {
  padding: 60px 0;
}

.contact__body {
    width: 94.65079%;
    outline: 3px solid #fff;
    margin: 0 auto;
    padding: 30px 15px 15px;
}

.contact__top {
  padding: 30px;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  color: #000;
}

.contact__name {
  margin-bottom: 5px;
  margin-top: 15px;
}

.contact input#inp, .contact input#inp2 {
  width: 260px;
  height: 50px;
}

.contact__bottom {
  padding: 20px 0 40px;
}

.contact__btn {
  padding: 20px;
  background-color: #d91233;
  color: #fff;
  width: 299px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  font-family: "Lato";
  font-size: 18px;
  font-weight: 700;
}

.karte__div {
  width: 100%;
  position: relative;
}

.karte__iframe {
  width: 100%;
  height: 650px;
}

.karte .box {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%);
  width: 480px;
  height: 290px;
  background-color: #d91233;
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -o-transform: translate(-50%);
  padding: 60px 90px 50px;
}

.karte .box__title {
  margin-bottom: 30px;
}

.karte .box__subtitle {
  margin-bottom: 20px;
}

.karte .box__phone, .karte .box__mail {
  margin-bottom: 30px;
  color: #fff;
  cursor: pointer;
}

.karte .box__mail {
  text-decoration: underline;
}

@media screen and (max-width: 500px) {
  .karte .box {
    width: 320px;
  }
  .footer__top {
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  text-align: center;
}
  .footer__contact {
  margin: 0;
 
}
  .footer__logo {
 padding-bottom: 10px;
}
}


.footer__top {
  padding: 30px 0;
}

.footer__contact {
  margin-left: auto;
  text-align: center;
}

.footer__phone {
  color: #000;
  font-family: "Lato";
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 5px;
}

.footer__link {
  color: #d91233;
  text-decoration: underline;
  cursor: pointer;
  font-family: "Lato";
  font-size: 16px;
  font-weight: 400;
}

.footer__logo {
  font-family: "Lato";
  font-size: 30px;
  font-weight: 400;
  color: #5a5a5a;
  padding-top: 10px;
}
@media screen and (max-width: 500px) {
  .footer__top {
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  text-align: center;
}
  .footer__contact {
  margin: 0;
 
}
  .footer__logo {
 padding-bottom: 10px;
}
}
/*# sourceMappingURL=style.css.map */
